@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait ) {
  #ex3 {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  

 }
